@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #006D5B; /* Teal */
  --secondary: #DDAF28; /* Mustard */
  --primary-light: #E0F2F1;
  --text-dark: #1F2937;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes scroll-testimonials {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 0.75rem));
  }
}

.animate-scroll-testimonials {
  animation: scroll-testimonials 30s linear infinite;
}

.animate-scroll-testimonials:hover {
  animation-play-state: paused;
}
